.ticket_banner img{
  width: 100%;
}

.ticket_text_box{
  margin-top: 150px;
  text-align: center;
  overflow: hidden;
}

.ticket_txt{
  padding-top: 40px;
  font-size: 24px;
  text-align: center;
}

.collection{
  margin-top: 50px;
  margin-bottom: 150px;
}

.collection_list{
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: space-between;
}

.collection_list li{
  flex-wrap: wrap;
  width: calc(50% - 20px);
  text-align: center;
  border: 1px solid #BFBFBF;
  --transition-duration: 500ms;
  --transition-easing: ease-out;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(2px);
  box-shadow: 0px calc(var(--size) / 6) calc(var(--size) / 3) rgba(0, 0, 0, 0.1);
  transition: transform var(--transition-duration) var(--transition-easing);
  overflow: hidden;
}

.collection_list li::before{
  content: "";
  background: rgba(255, 255, 255, 0.4);
  width: 60%;
  height: 100%;
  top: 0%;
  left: -125%;
  transform: skew(45deg);
  position: absolute;
  transition: left var(--transition-duration) var(--transition-easing);
}

/* .collection_list li:hover {
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.300);
} */

.collection_list li:hover{
  transform: translateY(-3%);
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.300);
}

.collection_list li:hover::before{
  left: 150%;
}

.collection_list img{
  width: 100%;
}


.list_text_box{
  padding: 50px 30px;
  /* display: flex;
  flex-direction: column;
  justify-content: center; */
}

/* .collection_list li:hover .list_text_box{
  border: 1px solid #000;
} */

.name{
  background: linear-gradient(to right, #F2C6DB, white,#C5DEFB);
  padding: 10px 20px;
  border-radius: 50px;
  width: 70%;
  margin: 0 auto;
}

.intro_txt{
  margin-top: 30px;
  word-break: keep-all;
}

.footer_box{
	border-top: 1px solid  #BFBFBF;
}

@media screen and (min-width: 1025px) and (max-width: 1240px){
  .name{
    width: 85%;
  }
}

@media screen and (max-width: 1024px){
  .list_text_box{
    padding: 30px 20px;
  }

  .ticket_txt{
    font-size: 20px;
  }

  .ticket_text_box{
    margin-top: 120px;
  }

  .collection{
  margin-top: 30px;
  margin-bottom: 120px;
  }

  .collection_list{ 
  gap: 20px;
  }

  .collection_list li{
  width: calc(50% - 10px);
  }

  .name{
  width: 85%;
  }
}

@media screen and (max-width: 767px){
  .ticket_text_box{
    margin-top: 80px;
  }

  .collection_list{
  display: block;
  }

  .collection_list li{
  width: 100%;
  margin-top: 20px;
  }

  .name{
  width: 90%;
  }

  .intro_txt{
  margin-top: 20px;
  }

  .collection_list li:hover {
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.300);
  transform: translateY(0);
}
.collection_list li::before, .collection_list li:hover::before{
  display: none;
}
}



