* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "SCoreDream";
  color: #000;
  scroll-behavior: smooth;
}
a {
  text-decoration: none;
  color: inherit;
  display: block;
}

ul,
li {
  list-style: none;
}

.inner_container {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}

@media screen and (max-width: 1440px) {
  .inner_container {
    padding: 0 32px;
  }
}

/* 폰트 설정 */
@import url("https://fonts.googleapis.com/css2?family=Modak&display=swap");
@font-face {
  font-family: "EsaManru";
  font-weight: 700;
  font-style: normal;
  src: url("https://cdn.jsdelivr.net/gh/webfontworld/gonggames/EsaManruBold.eot");
  src: url("https://cdn.jsdelivr.net/gh/webfontworld/gonggames/EsaManruBold.eot?#iefix")
      format("embedded-opentype"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/gonggames/EsaManruBold.woff2")
      format("woff2"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/gonggames/EsaManruBold.woff")
      format("woff"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/gonggames/EsaManruBold.ttf")
      format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "SCoreDream";
  font-weight: 300;
  font-style: normal;
  src: url(https://cdn.jsdelivr.net/gh/webfontworld/SCoreDream/SCoreDream3.woff2)
      format("woff2"),
    url(https://cdn.jsdelivr.net/gh/webfontworld/SCoreDream/SCoreDream3.woff)
      format("woff");
  font-display: swap;
}

@font-face {
  font-family: "SCoreDream";
  font-weight: 500;
  font-style: normal;
  src: url(https://cdn.jsdelivr.net/gh/webfontworld/SCoreDream/SCoreDream5.woff2)
      format("woff2"),
    url(https://cdn.jsdelivr.net/gh/webfontworld/SCoreDream/SCoreDream5.woff)
      format("woff");
  font-display: swap;
}

@font-face {
  font-family: "SCoreDream";
  font-weight: 700;
  font-style: normal;
  src: url(https://cdn.jsdelivr.net/gh/webfontworld/SCoreDream/SCoreDream7.woff2)
      format("woff2"),
    url(https://cdn.jsdelivr.net/gh/webfontworld/SCoreDream/SCoreDream7.woff)
      format("woff");
  font-display: swap;
}

@font-face {
  font-family: "SCoreDream";
  font-weight: 800;
  font-style: normal;
  src: url("https://cdn.jsdelivr.net/gh/webfontworld/score/SCoreDreamHeavy.eot");
  src: url("https://cdn.jsdelivr.net/gh/webfontworld/score/SCoreDreamHeavy.eot?#iefix")
      format("embedded-opentype"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/score/SCoreDreamHeavy.woff2")
      format("woff2"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/score/SCoreDreamHeavy.woff")
      format("woff"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/score/SCoreDreamHeavy.ttf")
      format("truetype");
  font-display: swap;
}

/* PC */
.title {
  font-size: 80px;
  font-weight: 700;
  font-family: "EsaManru";
}
.intro_title {
  font-size: 35px;
  font-weight: 700;
}
.sub_title {
  font-size: 28px;
  font-weight: 700;
}
.desc {
  font-size: 18px;
  font-weight: 400;
}
.pc_only {
  display: block;
}
.ta_only,
.mo_only {
  display: none;
}

/* TAB */
@media screen and (max-width: 1024px) {
  .title {
    font-size: 60px;
  }
  .intro_title {
    font-size: 28px;
  }
  .sub_title {
    font-size: 20px;
  }
  .desc {
    font-size: 16px;
  }
  .pc_only,
  .mo_only {
    display: none;
  }
  .ta_only {
    display: block;
  }
}

/* MO */
@media screen and (max-width: 767px) {
  .title {
    font-size: 36px;
  }
  .intro_title {
    font-size: 24px;
  }
  .sub_title {
    font-size: 18px;
  }
  .desc {
    font-size: 16px;
  }
  .pc_only,
  .ta_only {
    display: none;
  }
  .mo_only {
    display: block;
  }
}

/* 색상 */

.black {
  color: #021d25;
}
.lightGray {
  color: #eeeeee;
}
.white {
  color: #fff;
}

/* 언어별 디스플레이 */
.en_version {
  display: none;
}
