@import url(./common.css);

/* header */
header {
  position: relative;
  height: 80px;
  z-index: 100;
}
header .inner_container {
  display: flex;
  height: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}
.logo img,
.logo a,
.foot_logo a,
.foot_logo img {
  height: 100%;
}
.nav .depth1 {
  display: flex;
  justify-content: space-between;
}
.nav .depth1 > li {
  padding: 0 25px;
}
.lang_list {
  position: relative;
  display: flex;
  justify-content: space-evenly;
  gap: 20px;
}
.lang_list:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1px;
  height: 15px;
  background: #000;
}
.ghost {
  display: none;
}

@media screen and (max-width: 1024px) {
  header {
    position: sticky;
    height: 60px;
  }
  .nav,
  .lang {
    display: none;
  }
  .logo {
    height: 45px;
  }
  .ghost {
    display: block;
  }
  .ghost_btn .menu_btn {
    display: none;
  }
  .ghost_btn .btn_line {
    display: block;
    width: 16px;
    height: 11px;
    cursor: pointer;
    position: relative;
  }
  .ghost_btn .btn_line > span {
    display: block;
    height: 1px;
    width: 100%;
    background: black;
    position: absolute;
    transition: 0.3s;
  }
  .ghost_btn .btn_line > span:first-child {
    top: 0;
  }
  .ghost_btn .btn_line > span:nth-child(2) {
    top: 50%;
    transform: translateY(-50%);
  }
  .ghost_btn .btn_line > span:last-child {
    bottom: 0;
  }

  .menu_btn:checked + .btn_line > span:first-child {
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
  }
  .menu_btn:checked + .btn_line > span:nth-child(2) {
    display: none;
  }
  .menu_btn:checked + .btn_line > span:last-child {
    top: 50%;
    transform: translateY(-50%) rotate(-45deg);
  }
  .ghost_menu {
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    height: 0;
    padding: 0 20px;
    transition: 0.3s linear;
    background: #f9f9f9;
    overflow: hidden;
  }
  .ghost_menu .ghost_list {
    padding-top: 20px;
  }
  .ghost_menu .m_underline {
    border-bottom: 1px solid #ccc;
  }
  .ghost_list > li > a {
    line-height: 60px;
    font-size: 20px;
  }
  .ghost_menu .ghost_lang {
    margin-top: 60px;
  }
  .ghost_lang {
    display: flex;
    justify-content: flex-start;
    gap: 20px;
    font-size: 18px;
  }
  .ghost_lang .m_rightline {
    position: relative;
    padding-right: 20px;
  }
  .ghost_lang .m_rightline:before {
    content: "";
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    width: 1px;
    height: 15px;
    background: #000;
  }
}
@media screen and (max-width: 767px) {
  .logo {
    height: 38px;
  }
}
/* main  */
.main .video-wrap {
  width: 100%;
  height: calc(100vh - 80px);
}
.main .video-wrap video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* main end  */

/* about  */
.about-wrap {
  padding: 150px 0;
}

.about-wrap .title {
  padding-bottom: 60px;
}

.about-wrap .about-contents {
  display: flex;
  padding-top: 160px;
  padding-bottom: 135px;
  position: relative;
  overflow-x: hidden;
}

.about-wrap .about-img {
  position: relative;
  width: calc(50% - 20px);
}
.about_veri {
  position: absolute;
  bottom: -5px;
  left: 17%;
}
.about_veri img {
  max-width: 528px;
  width: 100%;
}

.about-wrap .about-img .about_gradient {
  position: relative;
  max-width: 920px;
  width: 0%;
  height: 450px;
  background: linear-gradient(135deg, #ffc0d3, #c3e0fd);
  border-radius: 0px 225px 225px 0;
  transition: all 1s;
  z-index: 0;
  opacity: 0;
}
.about-wrap .about-img .about_gradient.active {
  width: 100%;
  opacity: 1;
}
.about_opacity {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  opacity: 0;
  transition: all 1s;
}
.about_opacity.on {
  opacity: 1;
}
.about-wrap .about_item .about_gear {
  position: absolute;
  top: -25px;
  left: 78px;
  animation-name: rotate_gear;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
.about_gear img {
  max-width: 120px;
}
.about-wrap .about_item .about_circle {
  position: absolute;
  bottom: 172px;
  left: -27px;
}
.about_circle img {
  max-width: 160px;
}
.about-wrap .about_item .about_chacha {
  position: absolute;
  right: 80px;
  top: 14px;
}
.about_chacha img {
  max-width: 182px;
}
.about-wrap .about_item .about_veri_text {
  position: absolute;
  bottom: 26px;
  right: 150px;
  z-index: 1;
}

.about_veri_text .veri_effect {
  font-family: "Modak", cursive;
  font-size: 100px;
  background-image: url(https://img.freepik.com/free-photo/_40163-61.jpg?size=626&ext=jpg);
  background-size: 1000%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation-duration: 15s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
  animation-name: fluid;
}

.about_veri_text .veri_effect::before {
  text-shadow: 4px 2px 1px #40adff, 2px 2px 10px #f4b0e7;
  content: "VVRI";
  position: absolute;
  display: inline;
  z-index: -1;
}
.about_item .circle_floating {
  animation-name: circle_floating;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: cubic-bezier(0, 0.81, 0.96, 1.08);
  animation-direction: alternate;
}
.about_item .chacha_floating {
  animation-name: chacha_floating;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in;
}
.about-wrap .about_item .about_chacha_text {
  position: absolute;
}
.about-wrap .chacha_effect > span {
  display: inline-block;
  transform-origin: center;
}

@keyframes fluid {
  from {
    background-position: top;
  }

  to {
    background-position: bottom;
  }
}
@keyframes rotate_gear {
  100% {
    transform: rotate(360deg);
  }
}
@keyframes circle_floating {
  0% {
    bottom: 150px;
  }
  100% {
    bottom: 172px;
  }
}
@keyframes chacha_floating {
  0% {
    top: 0px;
  }
  100% {
    top: 14px;
  }
}
@keyframes icon_rotate {
  0% {
    rotate: -5deg;
  }
  100% {
    rotate: 5deg;
  }
}
.about-wrap .about-txt {
  position: relative;
  width: 50%;
  padding-left: 40px;
}
.about-wrap .about-txt::before {
  position: absolute;
  content: "";
  max-width: 205px;
  width: 100%;
  height: 147px;
  background: url(../images/about_rainbow.png) no-repeat;
  background-size: contain;
  right: 100px;
  top: -110px;
  animation-name: icon_rotate;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
.about-wrap .about-txt::after {
  position: absolute;
  content: "";
  max-width: 205px;
  width: 100%;
  height: 112px;
  background: url(../images/about_circle_02.png) no-repeat;
  background-size: contain;
  right: 200px;
  bottom: 5px;
  animation-name: icon_rotate;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
}

.about-wrap .intro_title {
  font-weight: 800;
  margin-bottom: 50px;
}

.about-wrap .sub_title {
  font-weight: 500;
}

.about-wrap .social-icon {
  display: flex;
  padding-top: 30px;
}

.about-wrap .social-icon li {
  margin-right: 20px;
}

@media (max-width: 1440px) {
  .about-wrap .about-contents::after {
    right: -60px;
  }
}

@media (max-width: 1200px) {
  .about-wrap .about-contents {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}

@media (max-width: 1024px) {
  .about-wrap {
    padding: 120px 0;
  }
  .about-wrap .title {
    padding-bottom: 50px;
  }
  .about-wrap .about-contents {
    flex-direction: column;
    padding: 0;
  }
  .about-wrap .about-contents > div {
    width: 100%;
  }

  .about-wrap .about-contents::after {
    display: none;
  }
  .about-wrap .about-txt {
    padding: 60px 32px 0;
  }

  .about-wrap .intro_title {
    margin-bottom: 40px;
  }

  .about-wrap .social-icon {
    padding-top: 25px;
  }
  .about-wrap .social-icon li {
    width: 45px;
    margin-right: 16px;
  }
  .about-wrap .social-icon li img {
    width: 100%;
  }
}

@media (max-width: 767px) {
  .about-wrap {
    padding: 80px 0;
  }
  .about-wrap .title {
    padding-bottom: 40px;
  }
  .about-wrap .about-txt {
    padding: 50px 20px 0;
  }
  .about-wrap .intro_title {
    margin-bottom: 20px;
  }
  .about-wrap .social-icon {
    padding-top: 30px;
  }
}

/* about end  */

/* project */
.pro_section {
  margin-bottom: 149px;
}
.pro_section .title {
  margin-bottom: 50px;
}

.pro_section .project_box {
  border-top: 1px solid #bfbfbf;
  border-bottom: 1px solid #bfbfbf;
  display: flex;
}

.pro_section .project_box .pro_left {
  width: 20%;
  padding: 0 36px;
  text-align: center;
  border-right: 1px solid #bfbfbf;
  padding-top: 68px;
}

.pro_section .project_box .pro_left .left_txt {
  background: linear-gradient(to right, #f2c6db, white, #c5defb);
  padding: 10px 20px;
  border-radius: 50px;
}

.pro_section .project_box .pro_right {
  width: 80%;
}

.pro_section .project_box .pro_right .right_one,
.pro_section .project_box .pro_right .right_two {
  display: flex;
  padding: 68px 0 80px;
  border-bottom: 1px solid #bfbfbf;
}

.pro_section .project_box .pro_right .one_txt,
.pro_section .project_box .pro_right .two_txt {
  padding: 0 20px;
}

.pro_line {
  position: relative;
  max-height: 1196px;
}
.pro_line::before {
  content: "";
  position: absolute;
  width: 1px;
  height: 100%;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background: #bfbfbf;
}

.one_item,
.two_item {
  width: 50%;
}

.one_item img,
.two_item img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.pro_right .sub_title {
  margin-bottom: 42px;
}

.pro_right .right_lounge {
  padding: 80px 0 80px 20px;
}

.pro_right .right_lounge .lounge_flex_box {
  display: flex;
  margin-top: 40px;
  column-gap: 20px;
}

.pro_right .right_lounge .lounge_flex_box .xrc_img,
.pro_right .right_lounge .lounge_flex_box .vrc_img {
  max-width: 545px;
}

.pro_right .right_lounge .lounge_flex_box .xrc_img img,
.pro_right .right_lounge .lounge_flex_box .vrc_img img {
  width: 100%;
}

.pro_right .right_lounge .lounge_flex_box .lounge_txt_box {
  text-align: center;
}

.pro_right .right_lounge .lounge_flex_box .lounge_txt_box .lounge_txt_title {
  font-size: 20px;
  font-weight: 700;
  margin: 36px 0 10px;
}

.road_section {
  background-color: #000;
  padding: 150px 0 135px;
}

.road_section .title {
  color: #fff;
  margin-bottom: 50px;
}

.road_section .road_img_pc img {
  width: 100%;
}

.road_section .road_img_tab,
.road_section .road_img_mo {
  display: none;
}

@media screen and (max-width: 1024px) {
  .pro_section {
    margin-bottom: 120px;
  }
  .pro_section .title {
    margin-bottom: 30px;
  }

  .pro_section .project_box .pro_left {
    display: none;
  }

  .pro_section .project_box .pro_right {
    width: 100%;
  }

  .pro_section .project_box .pro_right .right_one,
  .pro_section .project_box .pro_right .right_two {
    padding: 40px 0;
  }

  .pro_section .project_box .pro_right .one_txt,
  .pro_section .project_box .pro_right .two_txt {
    padding: 0;
  }
  .pro_section .project_box .pro_right .one_txt {
    padding-right: 20px;
  }

  .pro_section .project_box .pro_right .two_txt {
    padding-left: 20px;
  }

  .pro_line {
    max-height: 1196px;
  }

  .pro_right .sub_title {
    margin-bottom: 42px;
  }

  .pro_right .right_lounge {
    padding: 80px 0 80px 20px;
  }

  .pro_right .right_lounge .lounge_flex_box {
    display: flex;
    margin-top: 40px;
    column-gap: 20px;
  }

  .pro_right .right_lounge .lounge_flex_box .xrc,
  .pro_right .right_lounge .lounge_flex_box .vrc {
    width: 50%;
    padding: 0 10px;
  }

  .pro_right .right_lounge .lounge_flex_box .lounge_txt_box .lounge_txt_title {
    margin: 36px 0 6px;
  }

  .road_section {
    padding: 120px 0px;
  }

  .road_section .title {
    margin-bottom: 44px;
  }

  .road_section .road_img_pc,
  .road_section .road_img_mo {
    display: none;
  }

  .road_section .road_img_tab {
    display: block;
  }

  .road_section .road_img_tab img {
    width: 100%;
  }
}

@media screen and (max-width: 767px) {
  .pro_section {
    margin-bottom: 80px;
  }

  .pro_section .project_box .pro_right {
    width: 100%;
  }

  .pro_section .project_box .pro_right .right_one,
  .pro_section .project_box .pro_right .right_two {
    flex-direction: column;
  }
  .pro_section .project_box .pro_right .right_two {
    flex-direction: column-reverse;
  }

  .pro_section .project_box .pro_right .right_one,
  .pro_section .project_box .pro_right .right_two {
    padding: 30px 0;
  }

  .pro_section .project_box .pro_right .one_txt,
  .pro_section .project_box .pro_right .two_txt {
    padding: 0;
    margin-bottom: 30px;
  }

  .pro_line {
    max-height: unset;
  }

  .pro_line::before {
    display: none;
  }

  .one_item,
  .two_item {
    width: 100%;
  }

  .pro_right .sub_title {
    margin-bottom: 20px;
  }

  .pro_right .right_lounge {
    padding: 30px 0;
  }

  .pro_right .right_lounge .lounge_flex_box {
    flex-direction: column;
  }

  .pro_right .right_lounge .lounge_flex_box .xrc,
  .pro_right .right_lounge .lounge_flex_box .vrc {
    width: 100%;
  }

  .pro_right .right_lounge .lounge_flex_box .xrc {
    margin-bottom: 50px;
  }

  .pro_right .right_lounge .lounge_flex_box .lounge_txt_box .lounge_txt_title {
    margin: 36px 0 10px;
  }

  .road_section {
    padding: 80px 0px;
  }

  .road_section .title {
    margin-bottom: 40px;
  }

  .road_section .road_img_pc,
  .road_section .road_img_tab {
    display: none;
  }

  .road_section .road_img_mo {
    display: block;
  }

  .road_section .road_img_mo img {
    width: 100%;
  }
}

/* footer */

footer {
  padding: 15px 0;
  background: #f8f8f8;
}

footer .foot_logo {
  text-align: center;
}

@media screen and (max-width: 1024px) {
  .foot_logo {
    height: 52px;
  }
}

@media screen and (max-width: 767px) {
  .foot_logo {
    height: 40px;
  }
}

/* main  */
.main .video-wrap {
  width: 100%;
  height: calc(100vh - 80px);
}
.main .video-wrap video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
