@import url(./common.css);

/* header */
header {
  position: relative;
  height: 80px;
  z-index: 100;
}
header .inner_container {
  display: flex;
  height: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}
.logo img,
.logo a,
.foot_logo a,
.foot_logo img {
  height: 100%;
}
.nav .depth1 {
  display: flex;
  justify-content: space-between;
}
.nav .depth1 > li {
  padding: 0 25px;
}
.lang_list {
  position: relative;
  display: flex;
  justify-content: space-evenly;
  gap: 20px;
}
.lang_list:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1px;
  height: 15px;
  background: #000;
}
.ghost {
  display: none;
}

@media screen and (max-width: 1024px) {
  header {
    position: sticky;
    height: 60px;
  }
  .nav,
  .lang {
    display: none;
  }
  .logo {
    height: 45px;
  }
  .ghost {
    display: block;
  }
  .ghost_btn .menu_btn {
    display: none;
  }
  .ghost_btn .btn_line {
    display: block;
    width: 16px;
    height: 11px;
    cursor: pointer;
    position: relative;
  }
  .ghost_btn .btn_line > span {
    display: block;
    height: 1px;
    width: 100%;
    background: black;
    position: absolute;
    transition: 0.3s;
  }
  .ghost_btn .btn_line > span:first-child {
    top: 0;
  }
  .ghost_btn .btn_line > span:nth-child(2) {
    top: 50%;
    transform: translateY(-50%);
  }
  .ghost_btn .btn_line > span:last-child {
    bottom: 0;
  }

  .menu_btn:checked + .btn_line > span:first-child {
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
  }
  .menu_btn:checked + .btn_line > span:nth-child(2) {
    display: none;
  }
  .menu_btn:checked + .btn_line > span:last-child {
    top: 50%;
    transform: translateY(-50%) rotate(-45deg);
  }
  .ghost_menu {
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    height: 0;
    padding: 0 20px;
    transition: 0.3s linear;
    background: #f9f9f9;
    overflow: hidden;
  }
  .ghost_menu .ghost_list {
    padding-top: 20px;
  }
  .ghost_menu .m_underline {
    border-bottom: 1px solid #ccc;
  }
  .ghost_list > li > a {
    line-height: 60px;
    font-size: 20px;
  }
  .ghost_menu .ghost_lang {
    margin-top: 60px;
  }
  .ghost_lang {
    display: flex;
    justify-content: flex-start;
    gap: 20px;
    font-size: 18px;
  }
  .ghost_lang .m_rightline {
    position: relative;
    padding-right: 20px;
  }
  .ghost_lang .m_rightline:before {
    content: "";
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    width: 1px;
    height: 15px;
    background: #000;
  }
}
@media screen and (max-width: 767px) {
  .logo {
    height: 38px;
  }
}
/* main  */
.main .video-wrap {
  width: 100%;
  height: calc(100vh - 80px);
}
.main .video-wrap video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* main end  */

/* about  */
.about-wrap {
  padding: 150px 0;
  overflow: hidden;
}

.about-wrap .title {
  padding-bottom: 60px;
}

.about-wrap .about-contents {
  display: flex;
  padding-top: 160px;
  padding-bottom: 135px;
  position: relative;
}

.about-wrap .about-img {
  position: relative;
  width: calc(50% - 20px);
}
.about_veri {
  position: absolute;
  bottom: -5px;
  left: 0;
}
.about_veri img {
  max-width: 920px;
  width: 100%;
}

.about-wrap .about-img .about_gradient {
  position: relative;
  max-width: 920px;
  width: 0%;
  height: 450px;
  background: linear-gradient(135deg, #ffc0d3, #c3e0fd);
  border-radius: 0px 225px 225px 0;
  transition: all 1s;
  z-index: 0;
  opacity: 0;
}

.about-wrap .about-img .about_gradient.active {
  width: 100%;
  opacity: 1;
}
.about_opacity {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  opacity: 0;
  transition: all 1s;
}
.about_opacity.on {
  opacity: 1;
}
.about-wrap .about_item .about_gear {
  position: absolute;
  top: -25px;
  left: 78px;
  animation-name: rotate_gear;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
.about_gear img {
  max-width: 120px;
}
.about-wrap .about_item .about_circle {
  position: absolute;
  left: -27px;
}
.about_circle img {
  max-width: 160px;
}
.about-wrap .about_item .about_chacha {
  position: absolute;
  right: 80px;
  top: 14px;
}
.about_chacha img {
  max-width: 182px;
}
.about-wrap .about_item .about_veri_text {
  position: absolute;
  bottom: 17px;
  right: 170px;
  z-index: 1;
}

.about_veri_text .veri_effect {
  font-family: "Modak", cursive;
  font-size: 5.3476vw;
  background-image: url(https://img.freepik.com/free-photo/_40163-61.jpg?size=626&ext=jpg);
  background-size: 1000%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation-duration: 15s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
  animation-name: fluid;
  line-height: 1;
}

.about_veri_text .veri_effect::before {
  text-shadow: 4px 2px 1px #40adff, 2px 2px 10px #f4b0e7;
  content: "VVRI";
  position: absolute;
  display: inline;
  z-index: -1;
}
.about_item .circle_floating {
  animation-name: circle_floating;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: cubic-bezier(0, 0.81, 0.96, 1.08);
  animation-direction: alternate;
}
.about_item .chacha_floating {
  animation-name: chacha_floating;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in;
}
.about-wrap .about_item .about_chacha_text {
  position: absolute;
  right: -85px;
  bottom: 56%;
}
svg {
  height: auto;
  max-width: 100%;
  width: 400px;
}
.en_version .chacha_effect text {
  font-size: 0.9vw;
}

.chacha_effect text {
  font-family: "SCoreDream";
  font-size: 1.2vw;
  font-weight: 400;
}

@keyframes fluid {
  from {
    background-position: top;
  }

  to {
    background-position: bottom;
  }
}
@keyframes rotate_gear {
  100% {
    transform: rotate(360deg);
  }
}
@keyframes circle_floating {
  0% {
    bottom: 150px;
  }
  100% {
    bottom: 172px;
  }
}
@keyframes chacha_floating {
  0% {
    top: 0px;
  }
  100% {
    top: 14px;
  }
}
@keyframes icon_rotate {
  0% {
    rotate: -5deg;
  }
  100% {
    rotate: 5deg;
  }
}
.about-wrap .about-txt {
  position: relative;
  width: 50%;
  padding-left: 40px;
}
.about-wrap .about-txt::before {
  position: absolute;
  content: "";
  max-width: 205px;
  width: 100%;
  height: 147px;
  background: url(../images/about_rainbow.png) no-repeat;
  background-size: contain;
  right: 100px;
  top: -110px;
  animation-name: icon_rotate;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
.about-wrap .about-txt::after {
  position: absolute;
  content: "";
  max-width: 205px;
  width: 100%;
  height: 112px;
  background: url(../images/about_circle_02.png) no-repeat;
  background-size: contain;
  right: 200px;
  bottom: 5px;
  animation-name: icon_rotate;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
}

.about-wrap .intro_title {
  font-weight: 800;
  margin-bottom: 50px;
}

.about-wrap .sub_title {
  font-weight: 500;
}

.about-wrap .social-icon {
  display: flex;
  padding-top: 30px;
}

.about-wrap .social-icon li {
  margin-right: 20px;
}

@media (max-width: 1440px) {
  .about-wrap .about-contents::after {
    right: -60px;
  }
  .about-wrap .about-img .about_gradient {
    height: 350px;
    /* position: relative; */
  }
  /* .about-wrap .about-img .about_gradient:before {
    content: "";
    position: absolute;
    background-image: url(../images/Frame.png);
    background-repeat: no-repeat;
  } */
  .about-wrap .about_item .about_chacha_text {
    right: -122px;
    bottom: 43%;
  }
  .about-wrap .about-txt::before,
  .about-wrap .about-txt::after {
    max-width: 150px;
  }
  .about-wrap .about-txt::before {
    right: 20px;
  }
  .about-wrap .about-txt::after {
    right: 100px;
  }
}

@media (max-width: 1200px) {
  .about-wrap .about-contents {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .about-wrap .about-txt::before {
    right: -10px;
  }
  .about-wrap .about-txt::after {
    right: 80px;
  }
  .ko_version .about_gradient:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: -20px;
    right: 0;
    background: url(../images/Frame.png) no-repeat right top;
    background-size: 40%;
  }
  .about-wrap .about_item .about_chacha_text {
    display: none;
  }
  .en_version .about_gradient:before {
    content: "";
    position: absolute;
    width: 140%;
    height: 100%;
    top: -22px;
    right: -19px;
    background: url(../images/en_frame.svg) no-repeat right top;
    background-size: 40%;
  }
}

@media (max-width: 1024px) {
  .about-wrap {
    padding: 120px 0;
  }
  .about-wrap .title {
    padding-bottom: 50px;
  }
  .about-wrap .about-contents {
    flex-direction: column;
    padding: 0;
  }
  .about-wrap .about-contents > div {
    width: 100%;
  }

  .about-wrap .about-contents::after {
    display: none;
  }
  .about-wrap .about-txt {
    padding: 60px 32px 0;
  }

  .about-wrap .intro_title {
    margin-bottom: 40px;
  }
  .about-wrap .about-txt::before,
  .about-wrap .about-txt::after {
    display: none;
  }

  .about-wrap .social-icon {
    padding-top: 25px;
  }
  .about-wrap .social-icon li {
    width: 45px;
    margin-right: 16px;
  }
  .about-wrap .social-icon li img {
    width: 100%;
  }
  .about_gradient:before {
    display: none;
  }
  .about-wrap .about_item .about_veri_text {
    right: 26%;
  }
}

@media (max-width: 1024px) {
  .about-wrap {
    padding: 80px 0;
  }
  .about-wrap .title {
    padding-bottom: 0;
  }
  .about-wrap .about-txt {
    padding: 50px 20px 0;
  }
  .about-wrap .intro_title {
    margin-bottom: 20px;
  }
  .about-wrap .social-icon {
    padding-top: 30px;
  }
  .about-wrap .about-contents {
    margin-top: 160px;
  }
  .about-wrap .about-img .about_gradient {
    height: auto;
    max-width: 90%;
    padding-top: 45%;
  }
  .about-wrap .about_item .about_gear {
    top: -50px;
    left: 57px;
  }
  .about_gear img {
    max-width: 96px;
  }
  .about_circle img {
    max-width: 128px;
  }
  .about_veri_text .veri_effect {
    font-size: 10.4167vw;
  }
  .about-wrap .about_item .about_chacha {
    right: 125px;
  }
  .chacha_effect text {
    font-size: 2.3438vw;
  }
  .about-wrap .about_item .about_chacha_text {
    bottom: 42%;
    right: -100px;
  }
  @keyframes circle_floating {
    0% {
      bottom: 115px;
    }
    100% {
      bottom: 138px;
    }
  }
  @keyframes chacha_floating {
    0% {
      top: 12px;
    }
    100% {
      top: 26px;
    }
  }
}
@media (max-width: 540px) {
  .about-wrap .about_item .about_gear {
    left: 30px;
  }
  .about_item .circle_floating {
    animation-direction: alternate-reverse;
  }
  .about-wrap .about_item .about_chacha {
    right: 60px;
  }
  .about-wrap .about_item .about_chacha_text {
    bottom: 18%;
    right: -157px;
  }
  .about_chacha img {
    max-width: 127px;
  }
  @keyframes circle_floating {
    0% {
      bottom: 45px;
    }
    100% {
      bottom: 30px;
    }
  }
  @keyframes chacha_floating {
    0% {
      top: 1px;
    }
    100% {
      top: 20px;
    }
  }
  .about-wrap .about_item .about_veri_text {
    right: 105px;
  }
}
@media (max-width: 375px) {
  .about_gear img {
    max-width: 60px;
  }
  .about_circle img {
    max-width: 80px;
  }
  .about_chacha img {
    max-width: 80px;
  }
  .about_veri_text .veri_effect {
    font-size: 11.2vw;
  }
  .about-wrap .about_item .about_gear {
    top: -30px;
    left: 4px;
  }
  .about-wrap .about_item .about_circle {
    left: -50px;
  }
  .about_item .circle_floating {
    animation-direction: alternate-reverse;
    animation-duration: 1.2s;
  }
  @keyframes circle_floating {
    0% {
      bottom: 55px;
    }
    100% {
      bottom: 30px;
    }
  }
}

/* about end  */

/* project */
.pro_section {
  margin-bottom: 149px;
}
.pro_section .title {
  margin-bottom: 50px;
}

.pro_section .project_box {
  border-top: 1px solid #bfbfbf;
  border-bottom: 1px solid #bfbfbf;
  display: flex;
}

.pro_section .project_box .pro_left {
  width: 20%;
  padding: 0 36px;
  text-align: center;
  border-right: 1px solid #bfbfbf;
  padding-top: 68px;
}

.pro_section .project_box .pro_left .left_txt {
  background: linear-gradient(to right, #f2c6db, white, #c5defb);
  padding: 10px 20px;
  border-radius: 50px;
  position: sticky;
  top: 40px;
}

.pro_section .project_box .pro_right {
  width: 80%;
}

.pro_section .project_box .pro_right .right_one,
.pro_section .project_box .pro_right .right_two {
  display: flex;
  padding: 68px 0 80px;
  /* border-bottom: 1px solid #bfbfbf; */
  /* animation: border underline 1s linear; */
  position: relative;
}

.pro_section .project_box .pro_right .right_one::before,
.pro_section .project_box .pro_right .right_two::before {
  position: absolute;
  top: 100%;
  content: "";
  height: 1px;
  width: 100%;
  background-color: #bfbfbf;
  animation: underline 1s linear;
  text-align: center;
  margin: 0 auto;
  left: 50%;
  transform: translateX(-50%);
}

@keyframes underline {
  0% {
    width: 50%;
  }

  100% {
    width: 100%;
  }
}

.pro_section .project_box .pro_right .one_txt,
.pro_section .project_box .pro_right .two_txt {
  padding: 0 20px;
}

.pro_line1 {
  position: relative;
  max-height: 704px;
}

.pro_line2 {
  position: relative;
  max-height: 730px;
}

.pro_line1::before,
.pro_line2::before {
  content: "";
  position: absolute;
  width: 1px;
  height: 100%;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background: #bfbfbf;
  animation: moveline 1s linear;
}

@keyframes moveline {
  0% {
    height: 70%;
  }

  100% {
    height: 100%;
  }
}

.one_item,
.two_item {
  width: 50%;
}

.one_item video {
  margin-left: 1px;
}

.one_item video,
.two_item video {
  width: calc(100% - 1px);
  height: 100%;
  object-fit: contain;
}

.pro_right .sub_title {
  margin-bottom: 42px;
}

.pro_right .right_lounge {
  padding: 80px 0 80px 20px;
}

.pro_right .right_lounge .lounge_flex_box {
  display: flex;
  margin-top: 40px;
  column-gap: 20px;
}

.pro_right .right_lounge .xrc,
.pro_right .right_lounge .vrc {
  cursor: pointer;
}

.pro_right .right_lounge .xrc:hover .xrc_img {
  box-shadow: 0px 0px 25px #ff51a8;
  transition: all 0.3s;
}

.pro_right .right_lounge .vrc:hover .vrc_img {
  box-shadow: 0px 0px 25px #1f1259;
  transition: all 0.3s;
}

.pro_right .right_lounge .lounge_flex_box .xrc_img,
.pro_right .right_lounge .lounge_flex_box .vrc_img {
  max-width: 545px;
  max-height: 480px;
  overflow: hidden;
  margin: 0 auto;
}

.pro_right .right_lounge .xrc:hover .xrc_img img,
.pro_right .right_lounge .vrc:hover .vrc_img img {
  transform: scale(1.02);
  transition: all 0.3s linear;
}

.pro_right .right_lounge .lounge_flex_box .xrc_img img,
.pro_right .right_lounge .lounge_flex_box .vrc_img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: block;
}

.pro_right .right_lounge .lounge_flex_box .lounge_txt_box {
  text-align: center;
}

.pro_right .right_lounge .lounge_flex_box .lounge_txt_box .lounge_txt_title {
  font-size: 20px;
  font-weight: 700;
  margin: 36px 0 10px;
}

@media screen and (max-width: 1023px) {
  .pro_section {
    margin-bottom: 120px;
  }
  .pro_section .title {
    margin-bottom: 30px;
  }

  .pro_section .project_box .pro_left {
    display: none;
  }

  .pro_section .project_box .pro_right {
    width: 100%;
  }

  .pro_section .project_box .pro_right .right_one,
  .pro_section .project_box .pro_right .right_two {
    padding: 40px 0;
  }

  .pro_section .project_box .pro_right .one_txt,
  .pro_section .project_box .pro_right .two_txt {
    padding: 0;
  }
  .pro_section .project_box .pro_right .one_txt {
    padding-right: 20px;
  }

  .pro_section .project_box .pro_right .two_txt {
    padding-left: 20px;
  }

  .pro_line {
    max-height: 1196px;
  }

  .pro_right .sub_title {
    margin-bottom: 42px;
  }

  .pro_right .right_lounge {
    padding: 80px 0 80px 20px;
  }

  .pro_right .right_lounge .lounge_flex_box {
    display: flex;
    margin-top: 40px;
    column-gap: 20px;
  }

  .pro_right .right_lounge .lounge_flex_box .xrc,
  .pro_right .right_lounge .lounge_flex_box .vrc {
    width: 50%;
    padding: 0 10px;
  }

  .pro_right .right_lounge .lounge_flex_box .xrc_img img,
  .pro_right .right_lounge .lounge_flex_box .vrc_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .pro_right .right_lounge .xrc:hover .xrc_img img,
  .pro_right .right_lounge .vrc:hover .vrc_img img {
    transform: unset;
  }

  .pro_right .right_lounge .xrc .xrc_img {
    box-shadow: 0px 0px 25px #ff51a8;
  }

  .pro_right .right_lounge .vrc .vrc_img {
    box-shadow: 0px 0px 25px #1f1259;
  }

  .pro_right .right_lounge .lounge_flex_box .lounge_txt_box .lounge_txt_title {
    margin: 36px 0 6px;
  }
}

@media screen and (max-width: 767px) {
  .pro_section {
    margin-bottom: 80px;
  }

  .pro_section .project_box .pro_right {
    width: 100%;
  }

  .pro_section .project_box .pro_right .right_one,
  .pro_section .project_box .pro_right .right_two {
    flex-direction: column;
  }
  .pro_section .project_box .pro_right .right_two {
    flex-direction: column-reverse;
  }

  .pro_section .project_box .pro_right .right_one,
  .pro_section .project_box .pro_right .right_two {
    padding: 30px 0;
  }

  .pro_section .project_box .pro_right .one_txt,
  .pro_section .project_box .pro_right .two_txt {
    padding: 0;
    margin-bottom: 30px;
  }

  .pro_line {
    max-height: unset;
  }

  .pro_line::before {
    display: none;
  }

  .one_item,
  .two_item {
    width: 100%;
  }

  .pro_right .sub_title {
    margin-bottom: 20px;
  }

  .pro_right .right_lounge {
    padding: 30px 0;
  }

  .pro_right .right_lounge .lounge_flex_box {
    flex-direction: column;
  }

  .pro_right .right_lounge .lounge_flex_box .xrc,
  .pro_right .right_lounge .lounge_flex_box .vrc {
    width: 100%;
  }

  .pro_right .right_lounge .lounge_flex_box .xrc {
    margin-bottom: 50px;
  }

  .pro_right .right_lounge .lounge_flex_box .lounge_txt_box .lounge_txt_title {
    margin: 36px 0 10px;
  }
}

/* project END */

/* roadmap */
.road_tab{
  display: none;
}

.road_section {
  background-color: #000;
  padding: 150px 0 135px;
}

.road_section .title {
  color: #fff;
  margin-bottom: 50px;
}

.road_pc{
  max-width: 1440px;
  margin: 0 auto;
  color: #fff;
  display: flex;
  justify-content: center;
}


/* Layout */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.timeline_right{
  margin-top: 200px;
}

.timeline-event_right {
  position: relative;
}

.timeline-event_right:nth-child(4){
  margin-top: 140px;
  margin-left: 60px;
}


.timeline-event-copy_right {
  /* padding: 2em; */
  position: relative;
  top: 0;
  left: 0;
}

.timeline-event-copy_right p:not(.timeline-event-thumbnail_right) {
  /* padding-bottom: 1.2em; */
}

.timeline-event-icon_right {
  -moz-transition: -moz-transform 0.2s ease-in;
  -o-transition: -o-transform 0.2s ease-in;
  -webkit-transition: -webkit-transform 0.2s ease-in;
  transition: transform 0.2s ease-in;
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  background-color: #fff;
  display: block;
  position: absolute;
  top: 106px;
  left: 97%;
  width: 35px;
  height: 35px;
}

.timeline-event-thumbnail_right {
  -moz-transition: box-shadow 0.5s ease-in 0.1s;
  -o-transition: box-shadow 0.5s ease-in 0.1s;
  -webkit-transition: box-shadow 0.5s ease-in;
  -webkit-transition-delay: 0.1s;
  transition: box-shadow 0.5s ease-in 0.1s;
  color: white;
  font-size: 35px;
  background-color: black;
  -moz-box-shadow: inset 0 0 0 0em #ef795a;
  -webkit-box-shadow: inset 0 0 0 0em #ef795a;
  box-shadow: inset 0 0 0 0em #ef795a;
  display: inline-block;
  margin-left: 282px;
  margin-top: 100px;
}

.timeline-event-icon_right.on{
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  background-color:  #F5A5CB;
}

.timeline-event-thumbnail_right::before{
  content: attr(data-text);
  position: absolute;
  top: 100px;
  left: 282px;
  color: #F5A5CB;
  width: 0;
  overflow: hidden;
  white-space: nowrap;
  transition: 0.7s ease-out;
}

.timeline-event-thumbnail_right.on:before{
  width: 100%;
}


.road_txt_right{
  font-size: 28px;
  border-right: 1px solid #fff;
  padding-top: 30px;
  padding-right: 60px;
  margin-top: 20px;
  text-align: right;
}

.right1{
  height: 190px;
}

.right2{
  height: 186px;
}

.right3{
  height: 200px;
}

.logo_box{
  display: flex;
  gap: 50px;
  margin-left: 134px;
  margin-top: 40px;
}

.timeline-event_right_logo .close::after{
  content: '\00d7';
  font-size: 70px;
  font-weight: 100;
}



/* 왼쪽섹션 */

.timeline-event_left {
  position: relative;
}

.timeline-event_left:nth-child(4){
  margin-top: 305px;
}

.timeline-event_left:nth-child(6){
  margin-top: 120px;
}

.timeline-event-copy_left {
  position: relative;
  top: 0px;
  left: 0px;
}

.timeline-event-icon_left {
  -moz-transition: -moz-transform 0.2s ease-in;
  -o-transition: -o-transform 0.2s ease-in;
  -webkit-transition: -webkit-transform 0.2s ease-in;
  transition: transform 0.2s ease-in;
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  background-color: #fff;
  display: block;
  position: absolute;
  top: 6px;
  left: -17px;
  width: 35px;
  height: 35px;
}

.timeline-event-thumbnail_left {
  -moz-transition: box-shadow 0.5s ease-in 0.1s;
  -o-transition: box-shadow 0.5s ease-in 0.1s;
  -webkit-transition: box-shadow 0.5s ease-in;
  -webkit-transition-delay: 0.1s;
  transition: box-shadow 0.5s ease-in 0.1s;
  color: white;
  font-size: 35px;
  background-color: black;
  -moz-box-shadow: inset 0 0 0 0em #ef795a;
  -webkit-box-shadow: inset 0 0 0 0em #ef795a;
  box-shadow: inset 0 0 0 0em #ef795a;
  display: inline-block;
  margin-left: 60px;
  position: relative;
}

.timeline-event-icon_left.on{
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  background-color:  #F5A5CB;
}

.timeline-event-thumbnail_left::before{
  content: attr(data-text);
  position: absolute;
  top: 0px;
  left: 0px;
  color: #F5A5CB;
  width: 0;
  overflow: hidden;
  white-space: nowrap;
  transition: 0.7s ease-in;
}

.timeline-event-thumbnail_left.on:before{
  width: 100%;
}

.road_txt_left{
  font-size: 28px;
  border-left: 1px solid #fff;
  padding-top: 30px;
  padding-left: 60px;
  margin-top: 20px;
}

.left1{
  height: 212px;
}

.left2{
  height: 124px;
}

.left3{
  height: 124px;
}

.left4{
  height: 192px;
}

.vvri_1{
  margin-left: 60px;
  margin-bottom: 54px;
  margin-top: 42px;
}

.vvri_2{
  margin-left: 50px;
}

/* //pc버전끝 */

@media all and (min-width: 1025px) and (max-width: 1277px){
  .timeline-event-thumbnail_right{
    font-size: 28px;
    margin-left: 51%;
  }

  .timeline-event-thumbnail_left{
    font-size: 28px;
  }

  .road_txt_right, .road_txt_left{
  font-size: 24px;
  }

  .timeline-event-icon_right{
    width: 28px;
    height: 28px;
  }

  .timeline-event-icon_left{
    width: 28px;
    height: 28px;
    left: -13px;
  }

  .logo_box{
    position: relative;
    left: -68px;
  }

  .timeline-event-thumbnail_right::before{
  left: 51%;
  }
}

@media screen and (max-width: 1024px){
  .road_pc{
    display: none;
  }

  .road_tab{
    display: block;
    color: #fff;
  }
  
  .timeline-event{
    position: relative;
  }

  .timeline-event:nth-child(2), .timeline-event:nth-child(3), .timeline-event:nth-child(5), .timeline-event:nth-child(6), .timeline-event:nth-child(7){
    margin-top: 20px;
  }

  .timeline-event:nth-child(4){
    margin-top: 90px;
  }

  .timeline-event-copy{
    /* padding: 2em; */
    position: relative;
  }

  .timeline-event-icon {
    -moz-transition: -moz-transform 0.2s ease-in;
    -o-transition: -o-transform 0.2s ease-in;
    -webkit-transition: -webkit-transform 0.2s ease-in;
    transition: transform 0.2s ease-in;
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    background-color: #fff;
    display: block;
    position: absolute;
    top: 0px;
    left: 10px;
    width: 28px;
    height: 28px;
  }

  .timeline-event-thumbnail {
    -moz-transition: box-shadow 0.5s ease-in 0.1s;
    -o-transition: box-shadow 0.5s ease-in 0.1s;
    -webkit-transition: box-shadow 0.5s ease-in;
    -webkit-transition-delay: 0.1s;
    transition: box-shadow 0.5s ease-in 0.1s;
    color: white;
    font-size: 28px;
    background-color: black;
    -moz-box-shadow: inset 0 0 0 0em #ef795a;
    -webkit-box-shadow: inset 0 0 0 0em #ef795a;
    box-shadow: inset 0 0 0 0em #ef795a;
    display: inline-block;
    margin-left: 65px;
    margin-top: -5px;
    position: relative;
  }

  .timeline-event-icon.on{
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    background-color:  #F5A5CB;
  }

  .timeline-event-thumbnail::before{
    content: attr(data-text);
    position: absolute;
    top: 0px;
    left: 0px;
    color: #F5A5CB;
    width: 0;
    overflow: hidden;
    white-space: nowrap;
    transition: 0.7s ease-out;
  }

  .timeline-event-thumbnail.on:before{
    width: 100%;
  }

  .road_txt1{
    font-size: 24px;
    height: 198px;
    border-left: 1px solid #fff;
    padding-left: 40px;
    padding-top: 40px;
    margin-left: 23px;
    margin-top: 20px;
    text-align: left;
  }

  .road_txt2{
    font-size: 24px;
    height: 380px;
    border-left: 1px solid #fff;
    padding-left: 40px;
    padding-top: 40px;
    margin-left: 23px;
    margin-top: 20px;
    text-align: left;
  }

  .vvri1{
    position: absolute;
    top: 181px;
    left: 66px;
  }

  .road_txt3{
    font-size: 24px;
    height: 264px;
    border-left: 1px solid #fff;
    padding-left: 40px;
    padding-top: 40px;
    margin-left: 23px;
    margin-top: 20px;
    text-align: left;
  }

  .logo_box{
    display: flex;
    gap: 30px;
    margin-top: -170px;
    margin-left: 66px;
  }

  .logo_box .close2::after{
    content: '\00d7';
    font-size: 70px;
    font-weight: 100;
  }

  .road_txt4{
    font-size: 24px;
    height: 162px;
    border-left: 1px solid #fff;
    padding-left: 40px;
    padding-top: 40px;
    margin-left: 23px;
    margin-top: 20px;
    text-align: left;
  }

  .road_txt5{
    font-size: 24px;
    height: 130px;
    border-left: 1px solid #fff;
    padding-left: 40px;
    padding-top: 40px;
    margin-left: 23px;
    margin-top: 20px;
    text-align: left;
  }

  .road_txt6{
    font-size: 24px;
    height: 344px;
    border-left: 1px solid #fff;
    padding-left: 40px;
    padding-top: 40px;
    margin-left: 23px;
    margin-top: 20px;
    text-align: left;
  }

  .vvri2{
    position: absolute;
    top: 150px;
    left: 65px;
  }

  .road_txt7{
    font-size: 24px;
    height: 174px;
    border-left: 1px solid #fff;
    padding-left: 40px;
    padding-top: 40px;
    margin-left: 23px;
    margin-top: 20px;
    text-align: left;
  }
}

@media screen and (max-width: 767px){

  .timeline-event:nth-child(4){
    margin-top: 40px;
  }

 .timeline-event-thumbnail{
  font-size: 20px;
  margin-left: 55px;
 }

 .timeline-event-icon{
  width: 20px;
  height: 20px;
 }

 .road_txt1{
  font-size: 16px;
  height: 123px;
  padding-left: 34px;
  padding-top: 15px;
  margin-left: 19px;
  }

  .road_txt2{
  font-size: 16px;
  height: 236px;
  padding-left: 34px;
  padding-top: 15px;
  margin-left: 19px;
  }

  .vvri1{
    max-width: 100px;
    width: 100%;
    top: 130px;
    left: 52px;
  }

  .road_txt3{
  font-size: 16px;
  height: 158px;
  padding-left: 34px;
  padding-top: 15px;
  margin-left: 19px;
  }

  .logo_box{
    display: flex;
    gap: 20px;
    margin-top: -100px;
    margin-left: 56px;
  }
  
  .logo_box img{
    max-width: 80px;
    width: 100%;
  }

  .logo_box .close2::after{
    content: '\00d7';
    font-size: 50px;
    font-weight: 100;
    position: relative;
    top: 5px;
  }

  .road_txt4{
  font-size: 16px;
  height: 90px;
  padding-left: 34px;
  padding-top: 15px;
  margin-left: 19px;
  }

  .road_txt5{
  font-size: 16px;
  height: 66px;
  padding-left: 34px;
  padding-top: 15px;
  margin-left: 19px;
  }

  .road_txt6{
  font-size: 16px;
  height: 187px;
  padding-left: 34px;
  padding-top: 15px;
  margin-left: 19px;
  }

  .vvri2{
    max-width: 100px;
    width: 100%;
    position: absolute;
    top: 110px;
    left: 54px;
  }

  .road_txt7{
  font-size: 16px;
  height: 133px;
  padding-left: 34px;
  padding-top: 15px;
  margin-left: 19px;
  }

  .timeline-event-thumbnail::before{
    content: attr(data-text);
    position: absolute;
    top: 0px;
    left: 0px;
    color: #F5A5CB;
    width: 0;
    overflow: hidden;
    white-space: nowrap;
    transition: 0.7s ease-out;
  }
}
