.road_tab{
  display: none;
}

.road_section {
  background-color: #000;
  height: 2300px;
  padding: 150px 0 135px;
}

.road_section .title {
  color: #fff;
  margin-bottom: 50px;
}

.road_pc{
  max-width: 1440px;
  margin: 0 auto;
  color: #fff;
  display: flex;
  justify-content: center;
}


/* Layout */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.timeline_right{
  margin-top: 200px;
}

.timeline-event_right {
  position: relative;
}

.timeline-event_right:nth-child(4){
  margin-top: 200px;
}


/* .timeline-event_right:hover .timeline-event-icon_right {
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  background-color: #a83279;
}
.timeline-event_right:hover .timeline-event-thumbnail_right {
  -moz-box-shadow: inset 40em 0 0 0 #a83279;
  -webkit-box-shadow: inset 40em 0 0 0 #a83279;
  box-shadow: inset 40em 0 0 0 #a83279;
} */

.timeline-event-copy_right {
  padding: 2em;
  position: relative;
}

.timeline-event-copy_right p:not(.timeline-event-thumbnail_right) {
  /* padding-bottom: 1.2em; */
}

.timeline-event-icon_right {
  -moz-transition: -moz-transform 0.2s ease-in;
  -o-transition: -o-transform 0.2s ease-in;
  -webkit-transition: -webkit-transform 0.2s ease-in;
  transition: transform 0.2s ease-in;
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  background-color: #fff;
  display: block;
  position: absolute;
  top: 110px;
  left: 580px;
  width: 35px;
  height: 35px;
}

.timeline-event-thumbnail_right {
  -moz-transition: box-shadow 0.5s ease-in 0.1s;
  -o-transition: box-shadow 0.5s ease-in 0.1s;
  -webkit-transition: box-shadow 0.5s ease-in;
  -webkit-transition-delay: 0.1s;
  transition: box-shadow 0.5s ease-in 0.1s;
  color: white;
  font-size: 35px;
  background-color: black;
  -moz-box-shadow: inset 0 0 0 0em #ef795a;
  -webkit-box-shadow: inset 0 0 0 0em #ef795a;
  box-shadow: inset 0 0 0 0em #ef795a;
  display: inline-block;
  position: relative;
  top: 72px;
  left: 289px;
}

.timeline-event-icon_right.on{
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  background-color:  #F5A5CB;
}

.timeline-event-thumbnail_right::before{
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  color: #F5A5CB;
  width: 0;
  overflow: hidden;
  white-space: nowrap;
  transition: 0.7s ease-out;
}

.timeline-event-thumbnail_right.on:before{
  width: 100%;
}


.timeline-event_right:nth-child(4) .timeline-event-thumbnail_right{
  left: 355px;
}

.road_txt_right1{
  font-size: 28px;
  height: 190px;
  border-right: 1px solid #fff;
  padding-right: 60px;
  padding-top: 30px;
  margin-right: -74px;
  position: relative;
  top: 90px;
  right: -8px;
  text-align: right;
}

.road_txt_right2{
  font-size: 28px;
  height: 186px;
  border-right: 1px solid #fff;
  padding-right: 60px;
  padding-top: 30px;
  margin-right: -74px;
  position: relative;
  top: 90px;
  right: -8px;
  text-align: right;
}

.road_txt_right3{
  font-size: 28px;
  height: 200px;
  border-right: 1px solid #fff;
  padding-right: 60px;
  padding-top: 30px;
  margin-right: -74px;
  position: relative;
  top: 90px;
  right: -8px;
  text-align: right;
}

.timeline-event_right_logo{
  display: flex;
  gap: 50px;
  margin-top: 102px;
  margin-left: 173px;
}

.timeline-event_right_logo .close::after{
  content: '\00d7';
  font-size: 70px;
  font-weight: 100;
}



/* 왼쪽섹션 */
.timeline-event_left {
  position: relative;
}

.timeline-event_left:nth-child(4){
  margin-top: 265px;
}

.timeline-event_left:nth-child(6){
  margin-top: 70px;
}
/* 
.timeline-event_left:hover .timeline-event-icon_left{
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  background-color: #a83279;
}
.timeline-event_left:hover .timeline-event-thumbnail_left{
  -moz-box-shadow: inset 40em 0 0 0 #a83279;
  -webkit-box-shadow: inset 40em 0 0 0 #a83279;
  box-shadow: inset 40em 0 0 0 #a83279;
} */

.timeline-event-copy_left {
  padding: 2em;
  position: relative;
  top: -30px;
  left: 40px;
  margin-left: 40px;
}

.timeline-event-copy_left p:not(.timeline-event-thumbnail_left) {
  padding-bottom: 1.2em;
}

.timeline-event-icon_left {
  -moz-transition: -moz-transform 0.2s ease-in;
  -o-transition: -o-transform 0.2s ease-in;
  -webkit-transition: -webkit-transform 0.2s ease-in;
  transition: transform 0.2s ease-in;
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  background-color: #fff;
  display: block;
  position: absolute;
  top: 6px;
  left: 2em;
  width: 35px;
  height: 35px;
}

.timeline-event-thumbnail_left {
  -moz-transition: box-shadow 0.5s ease-in 0.1s;
  -o-transition: box-shadow 0.5s ease-in 0.1s;
  -webkit-transition: box-shadow 0.5s ease-in;
  -webkit-transition-delay: 0.1s;
  transition: box-shadow 0.5s ease-in 0.1s;
  color: white;
  font-size: 35px;
  background-color: black;
  -moz-box-shadow: inset 0 0 0 0em #ef795a;
  -webkit-box-shadow: inset 0 0 0 0em #ef795a;
  box-shadow: inset 0 0 0 0em #ef795a;
  display: inline-block;
}

.timeline-event-icon_left.on{
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  background-color:  #F5A5CB;
}

.timeline-event-thumbnail_left::before{
  content: attr(data-text);
  position: absolute;
  top: 32px;
  left: 32px;
  color: #F5A5CB;
  width: 0;
  overflow: hidden;
  white-space: nowrap;
  transition: 0.7s ease-in;
}

.timeline-event-thumbnail_left.on:before{
  width: 100%;
}

.road_txt_left1{
  font-size: 28px;
  height: 212px;
  border-left: 1px solid #fff;
  padding-left: 65px;
  padding-top: 30px;
  margin-left: -63px;
  position: relative;
  top: 20px;
}

.road_txt_left2{
  font-size: 28px;
  height: 124px;
  border-left: 1px solid #fff;
  padding-left: 60px;
  padding-top: 30px;
  margin-left: -71px;
  position: relative;
  top: 20px;
  left: 8px;
}

.road_txt_left3{
  font-size: 28px;
  height: 124px;
  border-left: 1px solid #fff;
  padding-left: 60px;
  padding-top: 30px;
  margin-left: -71px;
  position: relative;
  top: 20px;
  left: 8px;
}

.road_txt_left4{
  font-size: 28px;
  height: 192px;
  border-left: 1px solid #fff;
  padding-left: 60px;
  padding-top: 30px;
  margin-left: -71px;
  position: relative;
  top: 20px;
  left: 8px;
}

.vvri_1{
  margin-left: 120px;
  margin-bottom: 54px;
}

.vvri_2{
  margin-left: 120px;
}

/* //pc버전끝 */

@media screen and (max-width: 1024px){
  .road_pc{
    display: none;
  }
  .road_tab{
    display: block;
    color: #fff;
  }

  .timeline-event{
    position: relative;
  }

  .timeline-event:nth-child(2), .timeline-event:nth-child(3), .timeline-event:nth-child(5), .timeline-event:nth-child(6){
    margin-top: -20px;
  }

  .timeline-event:nth-child(4){
    margin-top: 55px;
  }

  .timeline-event-copy{
    padding: 2em;
    position: relative;
  }

  .timeline-event-icon {
    -moz-transition: -moz-transform 0.2s ease-in;
    -o-transition: -o-transform 0.2s ease-in;
    -webkit-transition: -webkit-transform 0.2s ease-in;
    transition: transform 0.2s ease-in;
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    background-color: #fff;
    display: block;
    position: absolute;
    top: 0px;
    left: -20px;
    width: 28px;
    height: 28px;
  }

  .timeline-event-thumbnail {
    -moz-transition: box-shadow 0.5s ease-in 0.1s;
    -o-transition: box-shadow 0.5s ease-in 0.1s;
    -webkit-transition: box-shadow 0.5s ease-in;
    -webkit-transition-delay: 0.1s;
    transition: box-shadow 0.5s ease-in 0.1s;
    color: white;
    font-size: 28px;
    background-color: black;
    -moz-box-shadow: inset 0 0 0 0em #ef795a;
    -webkit-box-shadow: inset 0 0 0 0em #ef795a;
    box-shadow: inset 0 0 0 0em #ef795a;
    display: inline-block;
    position: relative;
    top: -38px;
    left: 2px;
  }

  .timeline-event-icon.on{
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    background-color:  #F5A5CB;
  }

  .timeline-event-thumbnail::before{
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    color: #F5A5CB;
    width: 0;
    overflow: hidden;
    white-space: nowrap;
    transition: 0.7s ease-out;
  }

  .timeline-event-thumbnail.on:before{
    width: 100%;
  }

  .road_txt1{
    font-size: 24px;
    height: 198px;
    border-left: 1px solid #fff;
    padding-left: 40px;
    padding-top: 40px;
    margin-left: -74px;
    position: relative;
    top: -18px;
    left: 35px;
    text-align: left;
  }

  .road_txt2{
    font-size: 24px;
    height: 380px;
    border-left: 1px solid #fff;
    padding-left: 40px;
    padding-top: 40px;
    margin-left: -74px;
    position: relative;
    top: -18px;
    left: 35px;
    text-align: left;
  }

  .vvri1{
    position: absolute;
    top: 190px;
    left: 36px;
  }

  .road_txt3{
    font-size: 24px;
    height: 264px;
    border-left: 1px solid #fff;
    padding-left: 40px;
    padding-top: 40px;
    margin-left: -74px;
    position: relative;
    top: -18px;
    left: 35px;
    text-align: left;
  }

  .logo_box{
    display: flex;
    gap: 30px;
    margin-top: -180px;
  }

  .logo_box .close2::after{
    content: '\00d7';
    font-size: 70px;
    font-weight: 100;
  }

  .road_txt4{
    font-size: 24px;
    height: 162px;
    border-left: 1px solid #fff;
    padding-left: 40px;
    padding-top: 40px;
    margin-left: -74px;
    position: relative;
    top: -18px;
    left: 35px;
    text-align: left;
  }

  .road_txt5{
    font-size: 24px;
    height: 130px;
    border-left: 1px solid #fff;
    padding-left: 40px;
    padding-top: 40px;
    margin-left: -74px;
    position: relative;
    top: -18px;
    left: 35px;
    text-align: left;
  }

  .road_txt6{
    font-size: 24px;
    height: 344px;
    border-left: 1px solid #fff;
    padding-left: 40px;
    padding-top: 40px;
    margin-left: -74px;
    position: relative;
    top: -18px;
    left: 35px;
    text-align: left;
  }

  .vvri2{
    position: absolute;
    top: 150px;
  }
}

@media screen and (max-width: 767px){
 
}

