.road_tab{
  display: none;
}

.road_section {
  background-color: #000;
  padding: 150px 0 135px;
}

.road_section .title {
  color: #fff;
  margin-bottom: 50px;
}

.road_pc{
  max-width: 1440px;
  margin: 0 auto;
  color: #fff;
  display: flex;
  justify-content: center;
}


/* Layout */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.timeline_right{
  margin-top: 200px;
}

.timeline-event_right {
  position: relative;
}

.timeline-event_right:nth-child(4){
  margin-top: 140px;
  margin-left: 60px;
}


.timeline-event-copy_right {
  /* padding: 2em; */
  position: relative;
  top: 0;
  left: 0;
}

.timeline-event-copy_right p:not(.timeline-event-thumbnail_right) {
  /* padding-bottom: 1.2em; */
}

.timeline-event-icon_right {
  -moz-transition: -moz-transform 0.2s ease-in;
  -o-transition: -o-transform 0.2s ease-in;
  -webkit-transition: -webkit-transform 0.2s ease-in;
  transition: transform 0.2s ease-in;
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  background-color: #fff;
  display: block;
  position: absolute;
  top: 106px;
  left: 97%;
  width: 35px;
  height: 35px;
}

.timeline-event-thumbnail_right {
  -moz-transition: box-shadow 0.5s ease-in 0.1s;
  -o-transition: box-shadow 0.5s ease-in 0.1s;
  -webkit-transition: box-shadow 0.5s ease-in;
  -webkit-transition-delay: 0.1s;
  transition: box-shadow 0.5s ease-in 0.1s;
  color: white;
  font-size: 35px;
  background-color: black;
  -moz-box-shadow: inset 0 0 0 0em #ef795a;
  -webkit-box-shadow: inset 0 0 0 0em #ef795a;
  box-shadow: inset 0 0 0 0em #ef795a;
  display: inline-block;
  margin-left: 282px;
  margin-top: 100px;
}

.timeline-event-icon_right.on{
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  background-color:  #F5A5CB;
}

.timeline-event-thumbnail_right::before{
  content: attr(data-text);
  position: absolute;
  top: 100px;
  left: 282px;
  color: #F5A5CB;
  width: 0;
  overflow: hidden;
  white-space: nowrap;
  transition: 0.7s ease-out;
}

.timeline-event-thumbnail_right.on:before{
  width: 100%;
}


.road_txt_right{
  font-size: 28px;
  border-right: 1px solid #fff;
  padding-top: 30px;
  padding-right: 60px;
  margin-top: 20px;
  text-align: right;
}

.right1{
  height: 190px;
}

.right2{
  height: 186px;
}

.right3{
  height: 200px;
}

.logo_box{
  display: flex;
  gap: 50px;
  margin-left: 134px;
  margin-top: 40px;
}

.timeline-event_right_logo .close::after{
  content: '\00d7';
  font-size: 70px;
  font-weight: 100;
}



/* 왼쪽섹션 */

.timeline-event_left {
  position: relative;
}

.timeline-event_left:nth-child(4){
  margin-top: 305px;
}

.timeline-event_left:nth-child(6){
  margin-top: 120px;
}

.timeline-event-copy_left {
  position: relative;
  top: 0px;
  left: 0px;
}

.timeline-event-icon_left {
  -moz-transition: -moz-transform 0.2s ease-in;
  -o-transition: -o-transform 0.2s ease-in;
  -webkit-transition: -webkit-transform 0.2s ease-in;
  transition: transform 0.2s ease-in;
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  background-color: #fff;
  display: block;
  position: absolute;
  top: 6px;
  left: -17px;
  width: 35px;
  height: 35px;
}

.timeline-event-thumbnail_left {
  -moz-transition: box-shadow 0.5s ease-in 0.1s;
  -o-transition: box-shadow 0.5s ease-in 0.1s;
  -webkit-transition: box-shadow 0.5s ease-in;
  -webkit-transition-delay: 0.1s;
  transition: box-shadow 0.5s ease-in 0.1s;
  color: white;
  font-size: 35px;
  background-color: black;
  -moz-box-shadow: inset 0 0 0 0em #ef795a;
  -webkit-box-shadow: inset 0 0 0 0em #ef795a;
  box-shadow: inset 0 0 0 0em #ef795a;
  display: inline-block;
  margin-left: 60px;
}

.timeline-event-icon_left.on{
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  background-color:  #F5A5CB;
}

.timeline-event-thumbnail_left::before{
  content: attr(data-text);
  position: absolute;
  top: 0px;
  left: 60px;
  color: #F5A5CB;
  width: 0;
  overflow: hidden;
  white-space: nowrap;
  transition: 0.7s ease-in;
}

.timeline-event-thumbnail_left.on:before{
  width: 100%;
}

.road_txt_left{
  font-size: 28px;
  border-left: 1px solid #fff;
  padding-top: 30px;
  padding-left: 60px;
  margin-top: 20px;
}

.left1{
  height: 212px;
}

.left2{
  height: 124px;
}

.left3{
  height: 124px;
}

.left4{
  height: 192px;
}

.vvri_1{
  margin-left: 60px;
  margin-bottom: 54px;
  margin-top: 42px;
}

.vvri_2{
  margin-left: 50px;
}

/* //pc버전끝 */

@media all and (min-width: 1025px) and (max-width: 1277px){
  .timeline-event-thumbnail_right{
    font-size: 28px;
    margin-left: 51%;
  }

  .timeline-event-thumbnail_left{
    font-size: 28px;
  }

  .road_txt_right, .road_txt_left{
  font-size: 24px;
  }

  .timeline-event-icon_right{
    width: 28px;
    height: 28px;
  }

  .timeline-event-icon_left{
    width: 28px;
    height: 28px;
    left: -13px;
  }

  .logo_box{
    position: relative;
    left: -68px;
  }

  .timeline-event-thumbnail_right::before{
  left: 51%;
  }
}

@media screen and (max-width: 1024px){
  .road_pc{
    display: none;
  }

  .road_tab{
    display: block;
    color: #fff;
  }
  
  .timeline-event{
    position: relative;
  }

  .timeline-event:nth-child(2), .timeline-event:nth-child(3), .timeline-event:nth-child(5), .timeline-event:nth-child(6), .timeline-event:nth-child(7){
    margin-top: 20px;
  }

  .timeline-event:nth-child(4){
    margin-top: 90px;
  }

  .timeline-event-copy{
    /* padding: 2em; */
    position: relative;
  }

  .timeline-event-icon {
    -moz-transition: -moz-transform 0.2s ease-in;
    -o-transition: -o-transform 0.2s ease-in;
    -webkit-transition: -webkit-transform 0.2s ease-in;
    transition: transform 0.2s ease-in;
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    background-color: #fff;
    display: block;
    position: absolute;
    top: 0px;
    left: 10px;
    width: 28px;
    height: 28px;
  }

  .timeline-event-thumbnail {
    -moz-transition: box-shadow 0.5s ease-in 0.1s;
    -o-transition: box-shadow 0.5s ease-in 0.1s;
    -webkit-transition: box-shadow 0.5s ease-in;
    -webkit-transition-delay: 0.1s;
    transition: box-shadow 0.5s ease-in 0.1s;
    color: white;
    font-size: 28px;
    background-color: black;
    -moz-box-shadow: inset 0 0 0 0em #ef795a;
    -webkit-box-shadow: inset 0 0 0 0em #ef795a;
    box-shadow: inset 0 0 0 0em #ef795a;
    display: inline-block;
    margin-left: 65px;
    margin-top: -5px;
  }

  .timeline-event-icon.on{
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    background-color:  #F5A5CB;
  }

  .timeline-event-thumbnail::before{
    content: attr(data-text);
    position: absolute;
    top: -5px;
    left: 65px;
    color: #F5A5CB;
    width: 0;
    overflow: hidden;
    white-space: nowrap;
    transition: 0.7s ease-out;
  }

  .timeline-event-thumbnail.on:before{
    width: 100%;
  }

  .road_txt1{
    font-size: 24px;
    height: 198px;
    border-left: 1px solid #fff;
    padding-left: 40px;
    padding-top: 40px;
    margin-left: 23px;
    margin-top: 20px;
    text-align: left;
  }

  .road_txt2{
    font-size: 24px;
    height: 380px;
    border-left: 1px solid #fff;
    padding-left: 40px;
    padding-top: 40px;
    margin-left: 23px;
    margin-top: 20px;
    text-align: left;
  }

  .vvri1{
    position: absolute;
    top: 181px;
    left: 66px;
  }

  .road_txt3{
    font-size: 24px;
    height: 264px;
    border-left: 1px solid #fff;
    padding-left: 40px;
    padding-top: 40px;
    margin-left: 23px;
    margin-top: 20px;
    text-align: left;
  }

  .logo_box{
    display: flex;
    gap: 30px;
    margin-top: -170px;
    margin-left: 66px;
  }

  .logo_box .close2::after{
    content: '\00d7';
    font-size: 70px;
    font-weight: 100;
  }

  .road_txt4{
    font-size: 24px;
    height: 162px;
    border-left: 1px solid #fff;
    padding-left: 40px;
    padding-top: 40px;
    margin-left: 23px;
    margin-top: 20px;
    text-align: left;
  }

  .road_txt5{
    font-size: 24px;
    height: 130px;
    border-left: 1px solid #fff;
    padding-left: 40px;
    padding-top: 40px;
    margin-left: 23px;
    margin-top: 20px;
    text-align: left;
  }

  .road_txt6{
    font-size: 24px;
    height: 344px;
    border-left: 1px solid #fff;
    padding-left: 40px;
    padding-top: 40px;
    margin-left: 23px;
    margin-top: 20px;
    text-align: left;
  }

  .vvri2{
    position: absolute;
    top: 150px;
    left: 65px;
  }

  .road_txt7{
    font-size: 24px;
    height: 174px;
    border-left: 1px solid #fff;
    padding-left: 40px;
    padding-top: 40px;
    margin-left: 23px;
    margin-top: 20px;
    text-align: left;
  }
}

@media screen and (max-width: 767px){

  .timeline-event:nth-child(4){
    margin-top: 40px;
  }

 .timeline-event-thumbnail{
  font-size: 20px;
  margin-left: 55px;
 }

 .timeline-event-icon{
  width: 20px;
  height: 20px;
 }

 .road_txt1{
  font-size: 16px;
  height: 123px;
  padding-left: 34px;
  padding-top: 15px;
  margin-left: 19px;
  }

  .road_txt2{
  font-size: 16px;
  height: 236px;
  padding-left: 34px;
  padding-top: 15px;
  margin-left: 19px;
  }

  .vvri1{
    max-width: 100px;
    width: 100%;
    top: 130px;
    left: 52px;
  }

  .road_txt3{
  font-size: 16px;
  height: 158px;
  padding-left: 34px;
  padding-top: 15px;
  margin-left: 19px;
  }

  .logo_box{
    display: flex;
    gap: 20px;
    margin-top: -100px;
    margin-left: 56px;
  }
  
  .logo_box img{
    max-width: 80px;
    width: 100%;
  }

  .logo_box .close2::after{
    content: '\00d7';
    font-size: 50px;
    font-weight: 100;
    position: relative;
    top: 5px;
  }

  .road_txt4{
  font-size: 16px;
  height: 90px;
  padding-left: 34px;
  padding-top: 15px;
  margin-left: 19px;
  }

  .road_txt5{
  font-size: 16px;
  height: 66px;
  padding-left: 34px;
  padding-top: 15px;
  margin-left: 19px;
  }

  .road_txt6{
  font-size: 16px;
  height: 187px;
  padding-left: 34px;
  padding-top: 15px;
  margin-left: 19px;
  }

  .vvri2{
    max-width: 100px;
    width: 100%;
    position: absolute;
    top: 110px;
    left: 54px;
  }

  .road_txt7{
  font-size: 16px;
  height: 133px;
  padding-left: 34px;
  padding-top: 15px;
  margin-left: 19px;
  }

  .timeline-event-thumbnail::before{
    content: attr(data-text);
    position: absolute;
    top: -4px;
    left: 55px;
    color: #F5A5CB;
    width: 0;
    overflow: hidden;
    white-space: nowrap;
    transition: 0.7s ease-out;
  }
}
